.create-vacancy__inner {
    margin: 64px 0 80px;
}

.create-vacancy__content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
}

.create-vacancy__content-left {
    flex-basis: 732px;
}

.create-vacancy__content-right {
    flex-basis: 352px;
}

.create-vacancy__textarea {
    width: 100%;
    height: 287px;
    border: 1px solid #B6B6B6;
    border-radius: 16px;
    padding: 24px;
    resize: none;
    overflow: hidden;
}

.create-vacancy__create-btn {
    padding: 16px 88px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.create-vacancy__view-btn {
    padding: 16px 121px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.create-vacancy__input-size {
    max-width: 509px;
}

.create-vacancy__item {
    list-style-type: none;
    display: flex;
    gap: 16px;
    flex-basis: 338px;
}

.create-vacancy__item-img {
    width: 64px;
    height: 64px;
}

.create-vacancy__item-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.create-vacancy__item-title {
    font-weight: 600;
}

.create-vacancy__item-description {
    font-size: 14px;
    color: var(--dark-grey);
}

.create-vacancy__btn {
    padding: 16px 81px;
    margin-top: 40px;
}

.create-vacancy__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    border-radius: 16px;
    background-color: var(--bg-white);
}

.create-vacancy__list {
    display: flex;
    gap: 42px;
}

.create-vacancy__button-wrapper {
    display: flex;
    justify-content: space-between;
}
.create-vacancy__checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    border: none;
    background-color: transparent;
}
.create-vacancy__hashtags-list{
    min-width: 509px;
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
}
.create-vacancy__hashtags-item{
    list-style-type: none;
    padding: 10px 16px;
    border-radius: 8px;
}

.create-vacancy__action-wrapper {
    display: flex;
    gap: 16px;
}
.create-vacancy__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-vacancy__actions-btn{
    display: flex;
    width: 168px;
    height: 40px;
    font-size: 14px;
    align-items: center;
    padding: 8px 24px;
}
.create-vacancy__actions-img {
    width: 80px;
    height: 80px;
}
.create-vacancy__delete-btn{
    width: 40px;
    height: 40px;
}