.personal__inner {
    margin: 64px 0 160px;
}

.personal__content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
}

.personal__content-left {
    flex-basis: 352px;
}

.personal__content-right {
    flex-basis: 732px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.personal__content-left-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 12px;
    background-color: var(--bg-white);
    border-radius: 16px;
    height: 100%;
}

.personal__photo {
    width: 120px;
    height: 120px;
    border-radius: 16px;
}

.personal__item-title-text {
    font-size: 14px;
}

.personal__item-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal__vacancy-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.personal__vacancy-item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 16px;
    background-color: var(--bg-white);
    padding: 24px;
}

.personal__vacancy-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    border-radius: 16px;
    background-color: var(--bg-white);
    padding: 24px;
}

.personal__vacancy-inner {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.personal__vacancy-item-left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.personal__package-name{
    padding: 12px 24px;
    border-radius: 8px;
}


.personal__item-info-wrapper {
    display: flex;
    gap: 32px;
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 8px 16px;
}

.personal__item-info-inner {
    display: flex;
    gap: 24px;
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 8px 16px;
}

.personal__item-info {
    text-align: center;
}

.personal__title-icon-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.personal__vacancy-title {
    font-size: 22px;
    font-weight: 600;
}

.personal__btn-add-resume {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    width: 100%;
    border-radius: 8px;
}

.personal-hashtags {
    display: inline;
    font-size: 14px;
    padding: 8px 24px;
    height: 30px;
    border-radius: 8px;
}

.personal__card-company-info {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: flex-start;
}
.personal__company-block-wrapper{
    margin: 16px 0 24px;
}

.personal__hashtag-wrapper {
    margin-bottom: 8px;
}

.personal__logout__link-wrapper {
    margin: 32px 12px 0;
}

.personal__filter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.personal__vacancy-item-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.personal-user__actions-btn {
    padding: 12px 17px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.personal-user__actions {
    display: flex;
    position: relative;
    background-color: #ebebeb;
    border-radius: 12px;
    border: none;
}

.personal-user__actions-item {
    list-style-type: none;
    color: #7E7878;
}

.personal__card-bottom-wrapper {
    margin-top: 24px;
}

.personal__card-bottom-buttons {
    display: flex;
    gap: 8px;
}

.personal__card-bottom-btn {
    padding: 16px 43px;
    border-radius: 8px;
}

.personal__btn-color {
    padding: 16px 66px;
    border-radius: 8px;
}

.personal__btn-transparent {
    padding: 16px 43px;
    border-radius: 8px;
}
.personal__checkbox-block-list{
    display: flex;
    align-items: center;
    gap: 16px;
}
.personal__checkbox-block-item{
    list-style-type: none;
}

.personal__checkbox-text{
    font-size: 12px;
    color: var(--black);
}

.personal__container-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.personal__container-label p {
    margin-top: 4px;
}

.personal__container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.personal__checkmark {
    position: absolute;
    top: -4px;
    left: 9px;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--grey-2);
}

.personal__container-label:hover input ~ .checkmark {
    background-color: transparent;
}

.personal__container-label input:checked ~ .personal__checkmark {
    background-color: var(--green);
    border: 1px solid var(--green);
}

.personal__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.personal__container-label input:checked ~ .personal__checkmark:after {
    display: block;
}

.personal__container-label .personal__checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.personal__card-title-right{
    display: flex;
    padding: 4px 0;
    flex-direction: column;
    gap: 14px;
}

.personal__card-subtitle{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}