.main-searcher-auth__actual-vacancies {
    margin-top: 80px;
}

.main-searcher-auth__pagination {

    margin-top: 40px;
}

.main-searcher-auth__my-resume {
    margin-top: 24px;
}

.main-searcher-auth__advices {
    margin: 80px 0;
}