.main-employer-auth__actual-vacancies {
    margin-top: 40px;
}

.main-employer-auth__vacancies-responses-wrapper {
    margin-top: 24px;
}

.main-employer-auth__advices {
    margin: 80px 0;
}
.main__create-vacancy-wrapper {
    margin-top: 80px;
}
.main-employer-auth__services-wrapper {
    margin-top: 80px;
}